* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 h1 {
    display: inline-block;
    font-size: 48px;
    font-style: italic;
}

.background {
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url(./css/background-image/construction.jpg);
    background-size: cover;
    background-position: center;
}